{% import "bootstrap/wtf.html" as wtf %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">BarGood</h1>

      <p class="lead">Select fulfilled orders:</p>

        {% for form in forms %}
            <div class="card" style="width: 18rem;">

            {% for items in info[loop.index0] %}
                <p>{{ items }}</p>
                {% endfor %}
            {{ wtf.quick_form(form) }}
            </div>
            <br>
        {% endfor %}



      <p class="pt-5"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>